/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/

@font-face {
  font-family: GothamBold;
  src: url(../gothambold/Gotham-Bold.ttf);
}

@font-face {
  font-family: GothamBook;
  src: url(../gothambook/Gotham-Book.otf);
}

* {
   box-sizing: border-box;
}

img {
   width: 100%;
}

video {
   width: 100%;
}

body {
   background-color: black;
   z-index: -1;
   height: 0px;
}

html {
  scroll-behavior: smooth;
}

.background {
   opacity: 0.7;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -2;
}

.background video {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.title {
   z-index: 1;
   font-family: GothamBold;
   width: 100%;
   text-align: center;
   position: relative;
   top: 30vh;
   color: #00318b;
   background-color: rgba(255,255,255,0.8);
   padding: 20px;
   box-shadow: 0px 0px 5px black;
   /*text-shadow: 0px 0px 5px white;*/
}

.title h1 {
  border-bottom: 2px solid #ffba00;
}

.menu {
   display: grid;
   max-width: 900px;
   grid-template-columns: 30% 5% 30% 5% 30%;
   margin: auto;
   font-family: GothamBook;
}

   .item {
      text-align: center;
      cursor: pointer;
   }

   .item a {
      color: #00318b;
   }

   .item a:visited {
      color: #00318b;
   }

   .circle {
      text-align: center;
   }

   .item:hover {
      color:#ffba00;
   }

.container {
   background: rgb(255,255,255);
   background: linear-gradient(0deg, rgba(255,255,255,1) 90%, rgba(255,255,255,0.6874269859813085) 95%, rgba(255,255,255,0) 100%);
   position: relative;
   top: 100vh;
   z-index: -1;
} 

.mapdatabox {
   position: fixed;
   top: 0vh;
   left: 0px;
   width: 100%;
   height: 100vh;
   display: none;
   z-index: -1;
} 

.mediabox {
   max-width: 700px;
   height: 80vh;
   margin: auto;
   position: relative;
   top: 10vh;
   /*border: 2px solid limegreen;*/
}



.textbox {
   /*border: 2px solid hotpink;*/
   width: 100%;
   height: 100vh;


}

.innertext {
   max-width: 500px;
   padding: 20px 40px;
   box-shadow: 0px 0px 5px black;
   margin: auto;
   font-family: serif;
   font-size: 20px;
   background-color: rgba(255,255,255,0.8);
} 

.innertext h4 {
  font-size: 25px;
  font-family: GothamBold;
  color: #00318b;
  border-bottom: 2px solid #ffba00;


}

/*DROPDOWN STYLING*/
      .dropbtn {
        background-color: #51585f;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-family: GothamBook;
        margin-bottom: 10px;
        width: 100%;
      }

      .dropbtn:hover, .dropbtn:focus {
        background-color: #2d343a;
      }

      #myInput {
         width: 100%;
         font-size: 16px;
         padding: 14px 20px 12px 20px;
         border: none;
         border-bottom: 1px solid #ddd;
         font-family: GothamBook;
      }

      #myInput:focus {outline: 3px solid #ddd;}

      .dropdown {
        position: relative;
        /*display: inline-block;*/
        max-width: 550px;
        margin: auto;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
        font-family: GothamBook;

      }

      .dropdown-content p {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
        margin: 5px 0px;
        /*height: 50vh;*/
      }

      .countydrop {
         height: 30vh;
         overflow: scroll;
         font-family: 'Montserrat', sans-serif;
         font-family: GothamBook;

      }

      .department {
         cursor: pointer;
      }

      .dropdown p:hover {background-color: #ddd;}

      .show {display: block;}


/*END DROPDOWN STYLING*/

#QandA {
  background-color: white;
  z-index: 1;
  box-shadow: 0px 0px 5px black;
}

.subtitle {
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 30px;

}

.subtitle h4 {
  font-family: GothamBold;
  font-size: 25px;
  color: #00318b;
  border-bottom: 2px solid #ffba00;
}

.subtitle p {
  font-family: serif;
  font-size: 20px;
}

.video {
  max-width: 800px;
  margin: auto;
}

.regular-coverage {
  background-color: white;
  padding: 40px;
  font-family: GothamBook;
  font-size: 25px;
  color: #00318b;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}

/*resources styling*/

#resources {
   background-color: white;
   z-index: 1;
  /* padding: 5% 15%;*/
   overflow: hidden;
   width: 100%;
   text-align: center;
}

#resources h4 {
  font-size: 25px;
  font-family: GothamBold;
  color: #00318b;
  border-bottom: 2px solid #ffba00;
}

.serif-title {
  font-family: serif;
  font-size: 20px;
}


.contentcontainer {
      overflow: hidden;
      max-width: 700px;
      margin: auto;
   }

.photobox {
   text-align: center;
   display: inline-block;
   width: 31.33333%;
   margin: 1%;
   position: relative;
} 
   .photobox img {
      width: 100%;
      display: block;
   } 

.caption {
  font-family: sans-serif;
   font-family: GothamBold;
   width: 100%;
   height: 100%;
   color: white;
   padding: 5%;
   font-size: 2.1vw;
   line-height: 3.1vw;
   position: absolute;
   bottom:0;
   left:0;
   background-color:rgba(0,86,246,0.7);
   text-align: center;
   text-shadow: 2px 2px 2px #242424;
   display: flex;
}  


   .caption p {
      margin: auto; 
      text-align: center;
   }

   .caption:hover {
      font-size: 2.2vw;
      line-height: 3.2vw;
   }   

/*footer styles*/

.footer {
  width: 100%;
  background-color: white;
  padding: 40px;

}

.footer-text {
  border-top: 2px solid #ffba00;
  border-bottom: 2px solid #ffba00;
  max-width: 800px;
  text-align: center;
  font-family: serif;
  margin: auto;
  font-size: 12px;
}













